files:
  "/etc/nginx/conf.d/elasticbeanstalk/01-custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name _;
        root /var/app/current/frontend/build;

        location / {
          try_files $uri /index.html =404;
        }
      }

http {
    types_hash_max_size 2048;
    server_names_hash_bucket_size 128;
}