.App {
  display: flex;
  height: 100vh;
  font-family: 'HK Grotesk', sans-serif;
  background-color: #f1efe6;
}

.sidebar {
  width: 250px;
  background-color: #f1efe6;
  padding: 20px;
  border-left-style: solid;
  border-left: #e1dfd9;
  border-left-width: 5px;
}

.right-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f1efe6;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
}

.main-content {
  border-style: solid;
  border-radius: 25px;
  border-width: 5px;
  border-color: #e1dfd9;
  flex: 1;
  padding: 40px;
  background-color: #f5f4f0;
}